 .contact
{
    background-color: #f33e11;
    width: 100%;
    height: 35rem;
    /* display: flex; */
    /* position: relative; */
}
.contact .main
{
    display: flex;
    margin-top: 1.9rem;
}
.contact h1
{
    text-align: center;
}
.contact .instant
{
    width: 50%;
}
.box
{
    width: 40rem;
    height: 20rem;
    margin-right: 7rem;
    background-color: aquamarine;
    /* position: absolute; */
    padding: 3rem;
    border-radius: 2px;
}
 .box .input-box
{
    position: relative;
} 
 .box .input-box input
{
    width: 100%;
    padding: 1rem;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 3rem;
    /* outline: none; */
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
} 
.box .input-box label
{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 1.5rem;
    transition: 0.5s;


}

.box .input-box input:focus ~

.box input[type="submit"]
{
   background: transparent;
   border: none;
} 
